.depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: var(--vinho);
  padding: 40px 60px;
  min-width: 100%;
}

.depoimentos h3{
  font-weight: 500;
}

.depoimentos h2{
  font-family: 'Pacifico', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.depoimentos__content{
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}

.depoimentos__content img{
  width: 250px;
  height: 250px;
}

.depoimentos__texto h4{
  font-weight: 400;
  color: var(--vinho);
  font-size: 20px;
  margin-bottom: 15px;
}

@media screen and (max-width:900px){
  .depoimentos{
    padding: 40px ;
  }
}

@media screen and (max-width:640px){
  .depoimentos__content img{
    width: 150px;
    height: 150px;
  }

  .depoimentos__texto h2{
    font-size: 20px;
  }
  .depoimentos__texto h4{
    font-size: 18px;
  }
}

@media screen and (max-width:430px){
  .depoimentos__content img{
    display: none;
  }
}