.confeitaria{
  display: flex;
  flex-direction: column;
  /* padding: 40px; */
  justify-content: center;
  align-items: center;
  color: var(--vinho);
  text-align: center;
  width: 100%;
  align-content: center;
  overflow: hidden;
}

.confeitaria h4{
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 10px;
}

.confeitaria h2{
  font-family: 'Pacifico', sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.confeitaria__bolos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* gap: 15px; */
}

.carousel{
  cursor: grab;
  overflow: hidden;
  width: 100%;
  

}

.carousel__item{
  min-height: 200px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:700px){
  .carousel__item{
    min-width: 230px;
  }
}



