.card-bolo{
  width: 190px;
  background-color: var(--verde-2);
  color: var(--vinho);
  border-radius: 8px;
}

.card-bolo__imagem{
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.card-bolo__titulo{
  font-family: 'Pacifico', sans-serif;
  font-size: 27px;
  font-weight: 400;
  padding: 10px;
}

.card-bolo p{
  font-size: 13px;
  padding-left: 5px;
}

.card__link{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 30px;
}

.card__link a{
  text-decoration: none;
  color: var(--vinho);
  font-size: 18px;
}

.card__link img{
  width: 15px;
  height: 15px;
  margin-top: 4px;
  cursor: pointer;
}

@media screen and (max-width:700px){
  .card-bolo{
    width: 200px;
  }
}