button{
  padding: 15px 60px;
  border: none;
  border-radius: 8px;
  background-color: var(--verde-1);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

button:hover{
  opacity: .8;
}