.contato{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--vinho);
  padding: 10px 250px;
}

.contato__info{
  padding-bottom: 80px;
  width: 100%;
  border-bottom: 6px solid var(--verde-1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contato__info-texto{
  width: 60%;
}

.contato__info-texto p{
  font-weight: 700;
  font-size: 18px;
}

.contato__info-texto h2{
  font-family: 'Pacifico', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.contato__info-texto span{
  font-weight: 400;
}

/* Contato Franqueado */

.contato__franqueado{
  margin-top: 30px;
  width: 100%;
}

.contato__franqueado h2{
  font-family: 'Pacifico', sans-serif;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 40px;
}

.contato__franqueado span {
  font-weight: 600;
  font-size: 19px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}