.footer{
  background-color: var(--verde-1);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 250px;
  gap: 50px;
  width: 100%;
  margin: 0 auto;
}


.footer__logo{
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__img-redes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 20px;
}

.footer__img-redes img{
  width: 40px;
}

.footer h4{
  font-size: 19px;
}

.footer__local p{
  margin-bottom: 15px;
  font-size: 15px;
}

.footer__local img{
  width: 140px;
}

.footer__categorias{
  display: flex;
  flex-direction: column;
}

.footer__categorias ul, .footer__contato ul{
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 5px;
}


/* Responsivo */
@media screen and (max-width:1000px) {
  .footer{
    padding: 10px 50px;
    gap: 10px;
    justify-content: center;
  }
  
}
@media screen and (max-width:900px) {
  .footer__img{
    display: none;
  }
  }

  @media screen and (max-width:700px) {
    .footer{
      padding: 10px 30px;
      gap: 5px;
      justify-content: center;
    }
    }