.footer{
  background-color: var(--verde-1);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px 360px;
  gap: 30px;
}

.footer__categorias{
  display: flex;
  flex-direction: column;
}

.footer__categorias ul, .footer__contato ul{
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 5px;
}